.faq-section {
  background: 
    url(../images/bg-pattern-desktop.svg) left center fixed,
    url(../images/illustration-woman-online-desktop.svg) left center fixed;
  background-repeat:  no-repeat, no-repeat;
  background-size: 600px, 600px;
  

 
  
}

.list {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;

  align-items: left;
  justify-content: space-around;

  position: relative;

  right: 50px;
  top: 135px;

  cursor: pointer;

 

  h1 {
    font-size: 28px;
    position: relative;

    bottom: 20px;
  }

   
  .list-word {
    margin: 10px 0px;
    color:  hsl(240, 6%, 50%);

    border-bottom: 1px solid hsl(240, 5%, 91%);
   
    
    margin-bottom: 30px;
    padding-bottom: 15px;

    display: flex;

    align-items: center;

    justify-content: space-between;
  }
  
  .list-description {
    display: none;
    margin: 10px 0;
    
  }
  
  .list-word--selected {
    margin: 10px 0px;
    color: hsl(237, 12%, 33%);
    font-weight: 700;
    
  }
  .list-description--selected {
    position: relative;
    
    width: 350px;
    
    margin-left: 10px;
    margin-top: 10px;
    text-align: justify;
    
    color:  hsl(240, 6%, 50%);
    display: block;

    font-weight: 400;
    

    
    
  }
}






