.faq-section {
  background: url(../images/bg-pattern-desktop.svg) left center fixed;
  background-repeat: no-repeat;
  background-size: 600px;
}

.list {
  width: 400px;

  position: relative;

  right: 100px;
  top: 100px;

  cursor: pointer;

  .list-word {
    margin: 10px 0px;
    color: gray;
  }

  .list-description {
    display: none;
  }
}

.list-word--selected {
  color: black;
  font-weight: 700;
}


.list-description--selected {
  position: relative;

  width: 400px;
  
  margin-left: 20px;
  text-align: justify;

  top: 0px;

  display: block;
}



