.faq-section {
  width: 80%;
  height: 75%;

  background-color: white;

  display: flex;
  flex-direction: column;

  align-items: flex-end;

  border-radius: 15px;

}

.attribution {
  margin-top: 40px;
}